{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form action="" method="post">   <!-- {% url 'login' %} -->
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <input type="submit" value="LOGIN">
        <!-- <button><a href="/register/">REGISTER</a></button> -->
    </form>
</body>
</html>

<style>
button{
      background-color: none;
  }
button a{
      text-decoration: none;
      color:black;  
  }
</style>