{% include 'navbar.html' %}
<!-- {% include 'search.html' %} -->
<title>Create Employ</title>
{% if messages %}
    {% for i in messages %}
        {{ i }}
    {% endfor %}
{% endif %}
<h1>Create Employ</h1>
<form method="POST" action="."> {% csrf_token %}
  
    {{ form.as_p }}
  
  
    <!-- First name: <input type="text" name="fname">
    <br>
    Last name: <input type="text" name="lname">
    <br>
    Email: <input type="email" name="email">
    <br>
    Mobile: <input type="number" name="mobile">
    <br>
    <label for="position">Choose Position:</label> -->
    <!-- Position: <select id="position" name="position">
    <option value="intern">Intern</option>
    <option value="Senior Developers">Senior Developers</option>
    <option value="Junior Developers">Junior Developers</option>
    <option value="HR">HR</option>
    <option value="test">Test</option>
    <option value="-">-</option>
    </select>
    <br> -->
    <input type="submit" value="Save">
    <button><a href="/emp/list/">Back to List</a></button>

</form>