{% extends 'base.html' %}
{% block title %}Delete Employee Details{% endblock %}
{% block body %}
<div class="container mt-5">
    <center><h1>Delete Details of {{ object.get_full_name }}</h1>
        <ul>
            <li>EMP id: {{ object.empid }}</li>
            <li>Name: {{ object.fname }} {{ object.lname }}</li>
            <li>Email: {{ object.email }}</li>
            <li>Mobile: {{ object.mobile }}</li>
            <li>Position: {{ object.position }}</li>
        </ul>
        <form action="" method="post"> {% csrf_token %}
            <p>Are you Sure??</p>
            <input class="btn btn-dark" type="submit" value="YES">
            <button class="btn btn-dark" ><a href="/emp/list/">Back to List</a></button>
        </form>
    </center>
</div>
{% endblock %}