{% include 'navbar.html' %}
{% include 'search.html' %}
<title>Delete Employ</title>
<h1>Delete Employ</h1>
<!-- <p>System id for {{ object.empid }} is {{ object.id}} </p> -->
<ul>
    <li>EMP id: {{ object.empid }}</li>
    <li>Name: {{ object.fname }} {{ object.lname }}</li>
    <li>Email: {{ object.email }}</li>
    <li>Mobile: {{ object.mobile }}</li>
    <li>Position: {{ object.position }}</li>
</ul>
<form action="." method="post"> {% csrf_token %}
    <p>Are you Sure??</p>
    <input type="submit" value="YES">
    <button><a href="/emp/list/">NO</a></button>
</form>