{% include 'navbar.html' %}
{% include 'search.html' %}

<title>Employs List</title>

    {% for i in messages %}
        {{ i }}
    {% endfor %}

<h1>Employs List</h1>

{% if object_list %}

    <ul>
        {% for i in object_list %}
        <li>{{ i.employID }}  {{ i.get_full_name }} <button class="btn btn-primary"><a href=" {{ i.get_view_url }} ">VIEW</a></button> <button class="btn btn-primary"><a href="{{ i.get_update_url }}">UPDATE</a></button> <button class="btn btn-primary"><a href="{{ i.get_delete_url }}">DELETE</a></button> <button class="btn btn-primary"><a href=" {{ i.get_github_url }} " target="_blank">GITHUB</a></button>
        </li>      
        {% endfor %}
    </ul>

{% else %}

    <p>No Records</p>
    {% comment %} <p>Use Create Record to add new Records</p> {% endcomment %}

{% endif %}

