{% include 'navbar.html' %}
{% load crispy_forms_tags %}


<title>Update Employ Detail</title>
{% if messages %}
    {% for i in messages %}
        {{ i }}
    {% endfor %}
{% endif %}
<center><h1>Update Detail of {{ object.get_full_name }}</h1></center>
<!-- <p>System id for {{ object.empid }} is {{ object.id}} </p> -->
<form method="post" action=""> {% csrf_token %}
    {{ form|crispy }}
    <p>Save Changes??</p>
    <!-- <input type="submit" value="SAVE"> -->
    <input class="btn btn-primary" type="submit" value="SAVE CHANGES">
    <button class="btn btn-primary" ><a href="/emp/list/">Back to List</a></button>
</form>